body {
    font-family: 'orbitron';
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px;
    border-bottom: 2px solid #29d8ff;
}

h1 {
    color: #29d8ff;
    margin: 0;
    font-size: 2em;
}

.logout-btn {
    color: #1e1e1e;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #29d8ff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-right: 30px;
}

.logout-btn:hover {
    background-color: #1e1e1e;
    color: #29d8ff;
}

main {
    padding: 40px;
}

.produk {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produk li {
    width: calc(20% - 20px);
    box-sizing: border-box;
    background-color: rgba(30, 30, 30, 0.8);
    border: 2px solid #29d8ff;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.produk li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(41, 216, 255, 0.5);
}

/* agar 5 gambar ke kanan */
.produk ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -10px;
}

.produk h3 {
    color: #29d8ff;
    margin: 10px;
    font-size: 1.5em;
}

.produk img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.produk p {
    margin: 5px;
    font-weight: bold;
}

.pesan-btn {
    display: block;
    background-color: #29d8ff;
    color: #000000;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pesan-btn:hover {
    background-color: #1e1e1e;
    color: #29d8ff;
}

footer {
    background-color: #1e1e1e;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #29d8ff;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

footer:hover {
    background-color: #000000;
}

p {
    padding-bottom: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 14px;
    color: #29d8ff;
}